.container {
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 870px;
  width: 85%;
}

.nav {
  margin: 0 auto;
  max-width: 4000px;
  min-width:  450px;
  width: 100%;
  box-shadow: 0 2px 2px -2px $shadow-color;
  overflow: auto;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .6;
    padding: 0 2rem 0 0;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-family: $sans-serif;
  }
}

@media (min-width: 780px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

footer {
  margin: 0 auto;
  max-width: 4000px;
  min-width: 450px;
  width: 100%;
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}

// Place a p tag in between 2 empty divs.
.keyline-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  p {
    margin: 0 1em;
  }

  div {
    flex-grow: 1;
    background-color: var(--accent-color);
    content: "";
    height: 1px;
  }
}

ul.sidebar li {
  list-style-type: none;
  border-left: 1px solid var(--accent-color);
  margin-bottom: 1em;
}

.keyline-bottom {
  border-bottom: 1px solid var(--accent-color);
  line-height: 1.2;
  margin-bottom: 0.6em;
}

.skinny-center-justified {
  max-width: 30rem;
  margin: 0 auto;
  text-align: justify;
}

ul.strong-description {
  li {
    display: flex;
  }

  strong {
    padding-right: .8em;
    flex-grow: 0;
    flex-shrink: 0;
  }

  p {
    flex-grow: 1;
    padding-left: .8em;
    border-left: 1px solid var(--accent-color);
  }
}

article {
  max-width: 38em;
  margin: 3em auto;
  padding: 0 1em;
}

article > header {
  margin-bottom: 2em;

  h1, h2 {
    text-align: center;
  }
}

article > section:not(:last-child) {
  margin-bottom: 3em;
}