.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
    text-align: center;
  }


  &-titleh2 {
    color: $default-shade;
    font-family: Palatino;
    font-style: italic;
    font-size: 2.5rem;
    margin: 1rem 0;
    text-align: center;
  }

  &-line {
    border-top: 0.3rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 5rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {

    text-decoration: underline;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }

  .row {
  display: flex;
  margin: 0 5px;
  }

  .column {
    flex: 33%;
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

  .ow-anywhere {
   overflow-wrap: anywhere;
  }

  .ow-break-word {
     overflow-wrap: break-word;
  }

  .word-break {
     word-break: break-all;
  }

  figure {
    width: 100%;
    margin-bottom: 2.4rem;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
  }

  figcaption {
    text-align: center;
    font-style: italic;
    font-size: .9em;
    color: var(--light-text-color);
  }
}

@media(max-width: 600px) {
  .post header h1 {
      font-size: 2.8em;
  }

  .post ul {
    margin-left: 1.2rem;
    margin-right: .4rem;
  }

  .post p {
    text-align: left;
  }
}

@media(max-width: 360px) {
  .post header h1 {
      font-size: 2.2em;
  }
}


