@import 'tale/variables';
@import 'tale/base';
@import 'tale/code';
@import 'tale/post';
@import 'tale/about';
@import 'tale/syntax';
@import 'tale/layout';
@import 'tale/pagination';
@import 'tale/catalogue';
@import 'tale/404';
@import 'tale/tags';
@import 'tale/project_showcase';


// Index Page
.circle-portrait {
  display: block;
  max-width: 80%;
  border-radius: 50%;
  margin: 2em auto 5em auto;
  overflow: hidden;

  * {
    width: 100%;
  }

  @media (max-width: 412px) {
    max-width: 300px;
    max-height: 300px;
    width: calc(100vw - 36px);
    height: calc(100vw - 36px);
  }

  @media (min-width: 411px) {
    width: 300px;
    height: 300px;
  }
}
